<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload avatar</title>
    <link rel="stylesheet" href="/asserts/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Upload avatar</h1>
        </div>
        <form role="form" action="/uploader" enctype="multipart/form-data" method="post">
            <input type="hidden" name="userId" value="{{.UserData.userid}}" />
            <div class="form-group">
                <label for="message">Select file</label>
                <input type="file" name="avatarFile">
            </div>
            <input type="submit" value="Upload" class="btn">
        </form>
    </div>
</body>
</html>